* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
    background-color:#5d6160;
    background-image:linear-gradient(top, #c1c5c4 0%, #5d6160 51%);
    background-image:-webkit-linear-gradient(top, #c1c5c4 0%, #5d6160 51%);
    background-image:-ms-linear-gradient(top, #c1c5c4 0%, #5d6160 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #c1c5c4),
        color-stop(0.51, #5d6160)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    height:100%;
    margin:0px;
    padding:40px;
    width:100%;
}

button {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #ddd;
}